{% extends "base.html" %}
{% block content %}
    <a href="/polls/new" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">+ Create New Poll</a>
    <ul class="mt-6 space-y-3">
        {% for poll in polls %}
            <li class="bg-white p-4 rounded shadow hover:shadow-lg">
                <a href="/polls/{{ poll.id }}" class="text-xl font-semibold text-blue-600 hover:underline">{{ poll.question }}</a>
            </li>
        {% else %}
            <li>No polls yet. Create one!</li>
        {% endfor %}
    </ul>
{% endblock %}
